.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .formContent {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    gap: 24px;

    .comment {
      height: 120px;
    }
  }
}