@import "./variable.scss";

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Heavy */
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFUIDisplay-Medium.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SF-Pro-Rounded-Semibold.otf") format("opentype");
}

:root {
  font-family: "SF Pro Text", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Text", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(85, 86, 90, 0.12);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#nprogress .bar {
  background: $primary-color; 
  height: 2.5px;         
}

#nprogress .peg {
  box-shadow: 0 0 10px $primary-color, 0 0 5px $primary-color;
}

#nprogress .spinner-icon {
  border-top-color: $primary-color;
  border-left-color: $primary-color;
}

#nprogress .bar {
  transition: all 0.4s ease;
}
