@import "../../styles/variable.scss";

.action {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background-color: #fff;
  color: $primary-color;
  border: 1px solid rgba(85, 86, 90, 0.12);
  font-weight: 500;
}

.add {
  border-radius: 8px;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
  background-color: $primary-color;
  height: fit-content;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid $primary-color;

  &:hover {
    background-color: darken($color: $primary-color, $amount: 2.5);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .group {
    flex-direction: column;
    font-weight: 500;
    gap: 10px;
    color: #1b1b1b;
  }
}