.datePicker {
  width: 100%;
  border-radius: 6px;
  padding: 16px 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  outline: none;
  background-color: #fff;
  color: #1b1b1b;
  border: 1px solid rgba(85, 86, 90, 0.12);
  font-weight: 500;
  font-size: 15px;
  position: relative;
  cursor: pointer;

  input {
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: transparent;
    width: 100%;
    background: transparent;
    user-select: none;
    pointer-events: none;

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      opacity: 0.5;
      cursor: pointer;
    }
  }

  &:not(.hasValue) input {
    color: transparent;
  }

  .placeholder {
    position: absolute;
    left: 14px;
    color: #757575;
    font-weight: 400;
    font-size: 15px;
    pointer-events: none;
    transition: 0.2s ease;
    font-weight: 500;
    user-select: none;
    margin-left: 34px;
  }

  &.hasValue .placeholder {
    color: #1b1b1b;
  }
}