.textbox {
  width: 100%;
  border-radius: 6px;
  padding: 16px 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  outline: none;
  background-color: #fff;
  color: #1b1b1b;
  border: 1px solid rgba(85, 86, 90, 0.12);
  font-weight: 500;
  font-size: 15px;
  position: relative;
}

.textboxIcon {
  
}