@import "../styles/variable.scss";

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-block: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleSection {
  font-size: 38px;
  line-height: 125%;
  font-family: "SF Pro Display";
  letter-spacing: 0.3px;
  color: #1b1b1b;
  margin-left: 1px;
}

.decorations {
  gap: 15px;
}

.decoration {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.rentals {
  flex-direction: column;
  gap: 30px;
}